<div class="import_form">
    <p>{{#str}}confirm_copy_item_form_text, block_sharing_cart{{/str}}</p>
    {{#sections}}
        <div class="form-check">
            <label class="form-check-label">
                {{#is_subsection}}
                    <i class="fa fa-bars-staggered"></i>
                {{/is_subsection}}
                {{#is_section}}
                    <i class="fa fa-folder-o"></i>
                {{/is_section}}
                {{{title}}}
            </label>
            <div class="item-children form-check">
                {{#course_modules}}
                    {{> block_sharing_cart/modal/import_item_form_element }}
                {{/course_modules}}
            </div>
        </div>
    {{/sections}}

    {{#can_replace_section_details}}
        <div class="form-check mt-3">
            <label class="form-check-label">
                <input type="checkbox" class="form-check-input" data-action="replace_section_details" data-type="option"/>
                {{#str}}replace_section_details, block_sharing_cart, {{target_section_name}}{{/str}}
            </label>
            <small class="form-text text-muted d-block">{{#str}}replace_section_details_help_text, block_sharing_cart{{/str}}</small>
        </div>
    {{/can_replace_section_details}}

    {{#user_msgs}}
        <div class="user-messages">
            <small>{{.}}</small>
        </div>
    {{/user_msgs}}

</div>
