{{!
    This file is part of Moodle - https://moodle.org/

    Moodle is free software: you can redistribute it and/or modify
    it under the terms of the GNU General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    (at your option) any later version.

    Moodle is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU General Public License for more details.

    You should have received a copy of the GNU General Public License
    along with Moodle.  If not, see <https://www.gnu.org/licenses/>.
}}
{{!
    @template block_sharing_cart/block/item/icon

    Example context (json):
    {"status_awaiting":true}
}}
{{#status_awaiting}}
    <i class="fa fa-spinner"></i>
{{/status_awaiting}}
{{#status_finished}}
    {{#is_section}}
        {{#is_current_version}}
            <i class="fa fa-folder-o"></i>
        {{/is_current_version}}
        {{^is_current_version}}
            {{#has_file_id}}
                <i class="fa fa-exclamation-circle text-info"
                   title="{{#str}}old_version_section_info, block_sharing_cart{{/str}}"></i>
            {{/has_file_id}}
            {{^has_file_id}}
                <i class="fa fa-exclamation-triangle text-warning"
                    title="{{#str}}legacy_section_info, block_sharing_cart{{/str}}"></i>
            {{/has_file_id}}
        {{/is_current_version}}
    {{/is_section}}
    {{#is_module}}
        {{#is_current_version}}
            {{#is_subsection}}
                <i class="fa fa-bars"></i>
            {{/is_subsection}}
            {{^is_subsection}}
                <img src="{{mod_icon}}" alt=""/>
            {{/is_subsection}}
        {{/is_current_version}}
        {{^is_current_version}}
            <i class="fa fa-exclamation-circle text-info"
               title="{{#str}}old_version_module_info, block_sharing_cart{{/str}}"></i>
        {{/is_current_version}}
    {{/is_module}}
{{/status_finished}}
{{#status_failed}}
    <i class="fa fa-exclamation-circle text-danger"
       title="{{#str}}backup_failed, block_sharing_cart, {{task_id}}{{/str}}"></i>
{{/status_failed}}
